* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgrey;
    font-family: Arial, sans-serif;    
}

#container {
    /* width: 80%; */
    width: 1100px;
    margin: 0px auto;
    border: black solid 1px;   
}

header {
    background-color: #df1e1e;
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: white;
    border-bottom: #09110ba2 dashed 3px;
}

nav {    
    background-color: lightblue;
    height: 50px;
    border-bottom: #09110ba2 solid 1px;
}

nav ul li {
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}

.clearfix {
    clear: both;
}

#content {    
    float: left;
    width: calc(80% - 80px);
    min-height: 500px;
    background-color: #23e453;  
    padding: 40px;  
}

aside {
    background-color: #da6b6b;    
    float: left;
    width: calc(20% - 20px);
    min-height: 500px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

footer {    
    background-color: #333;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;    
}

.article {
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.article:first-child {
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.article h2 {
    color: #333;
    font-size: 25px;
    margin-bottom: 10px;
}




