
body {
    background-color: beige;    
}

.flex-container {
    border: 1px solid black;    
    background: #ccc;
    padding: 20px;
    display: flex;    
    flex-flow: row wrap;  
    justify-content: space-between;
    width: 80%;
    height: 600px;
    margin: 0 auto;
    align-items:center;
    align-content: space-between;
}

.caja {
    background-color:white;
    border: 1px solid #464444;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 120px;   
    /* height: 120px; */
    line-height: 120px;
    text-align: center;
    margin: 5px;
    overflow: hidden;
}